<%= simple_form_for [artist, collection], remote: true do |f| %>
  <h2>New Artist</h2>
  <div class="p-3">
    <%= f.input :name %>
  </div>
  <div class="border-bottom-light-gray mb-3"></div>
  <div class="p-3">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
