| function refreshDashboard(innerHTML) { const form = document.getElementById('edit-form'); form.innerHTML = innerHTML; } refreshDashboard('
= j render "new", artist: @artist, upcoming_project: @upcoming_project
| '); window.init(); 
