// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300&display=swap');

// Define fonts for body and headers
$body-font: "Merriweather Sans", "Helvetica", "sans-serif";
$headers-font: "Merriweather", "Times", "serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Maverix";
  src: font-url('maverix.otf');
  src: font-url('maverix.otf') format('opentype'),
       font-url('maverix.ttf') format('truetype');
}
$title-font: "Maverix", "Times", "serif";
