<h2>Collections</h2>
<div class="p-3">
  <ul class="link-list">
    <% @artist.collections.each do |collection| %>
      <%= link_to edit_collection_path(collection), remote: true do %>
        <li>
          <div class="text">
            <%= collection.name %>
          </div>
          <div class="image">
            <% if collection.photos.present? %>
              <%= cl_image_tage collection.photos.first %>
            <% end %>
          </div>
        </li>  
      <% end %>
    <% end %>
  </ul>
</div>

<div class="p-3">
  <%= link_to '+ Add collection', new_artist_collection_path(@artist), remote: true, class: 'button-tertiary w-100' %>
</div>
