<div class="nested-fields">
  <div class="row p-3 flex-center">
    <div class="col-12 col-sm-10">
      <div class="row">
        <div class="col-12 col-sm-4">
          <%= f.input :description %>
        </div>
        <div class="col-12 col-sm-4">
          <%= f.input :label, required: false %>
        </div>
        <div class="col-12 col-sm-4">
          <%= f.input :year, required: false %>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2 font-italic">
      <%= link_to_remove_association "- Remove", f, class: 'pl-3' %>
    </div>
  </div>
</div>
