<h2>Projects</h2>
<div class="p-3">
  <ul class="link-list">
    <% @artist.upcoming_projects.each do |upcoming_project| %>
      <%= link_to edit_upcoming_project_path(upcoming_project), remote: true do %>
        <li>
          <div class="text">
            <%= upcoming_project.title %>
          </div>
          <div class="image">
            <% if upcoming_project.photo.present? %>
              <%= cl_image_tag upcoming_project.photo %>
            <% end %>
          </div>
        </li>  
      <% end %>
    <% end %>
  </ul>
</div>

<div class="p-3">
  <%= link_to '+ Add project', new_artist_upcoming_project_path(@artist), remote: true, class: 'button-tertiary w-100' %>
</div>
