.button{
  &-primary{
    @extend .btn;
    @extend .btn-primary;
    @extend .shadow-box-light;
    &:hover{
      @extend .shadow-box-dark;
    }
  }
  &-secondary{
    @extend .btn;
    @extend .btn-info;
    @extend .shadow-box-light;
    &:hover{
      @extend .shadow-box-dark;
    }
  }
  &-tertiary{
    @extend .btn;
    @extend .btn-primary;
    @extend .shadow-box-light;
    background: transparent;
    @extend .c-blue;
    &:hover{
      @extend .shadow-box-dark;
    }
  }
  &-danger{
    @extend .btn;
    @extend .btn-primary;
    @extend .shadow-box-light;
    @extend .bg-pink;
    @extend .c-blue;
    border-color: darken($pink, 15%);
    &:hover{
      @extend .shadow-box-dark;
      background: darken($pink, 30%);
      @extend .c-white;
    }
    &:active{
      @extend .c-white;
      background: darken($pink, 45%) !important;
    }
  }
}

.two-buttons-container{
  margin: 0 auto;
  max-width: 420px;
  text-align: center;
  .artist-button{
    min-width: 192px;
    margin-bottom: 20px;
  }
  @media (max-width: 1280px) {
    &.lg-hide {
      display: none;
    }
  }
  @media (max-width: 767px) {
    &.lg-hide {
      display: block;
    }
  }
  @media (max-width: 540px) {
    .artist-button {
      width: 100% !important;
    }
  }
}
