// Text Color
.color, .c{
  &-dark-blue{
    color: $dark-blue;
  }
  &-blue{
    color: $blue;
  }
  &-light-blue{
    color: $light-blue;
  }
  &-beige{
    color: $beige;
  }
  &-pink{
    color: $pink;
  }
  &-gold{
    color: $gold;
  }
  &-blue-gradient{
    background: $blue-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $dark-blue; // Fallback
  }
  &-gray{
    color: $gray;
  }
  &-light-gray{
    color: $light-gray;
  }
  &-white{
    color: $white;
  }
}

// Background Color
.background, .bg{
  &-dark-blue{
    background-color: $dark-blue;
    &-gradient{
      background: $dark-blue-gradient;
      background-color: $dark-blue;
    }
  }
  &-blue{
    background-color: $blue;
    &-gradient{
      background: $blue-gradient;
      background-color: $blue;
    }
  }
  &-light-blue{
    background-color: $light-blue;
  }
  &-beige{
    background-color: $beige;
    &-gradient{
      background: $beige-gradient;
      background-color: $beige;
    }
  }
  &-pink{
    background-color: $pink;
    &-gradient{
      background: $pink-gradient;
      background-color: $pink;
    }
  }
  &-gold{
    background-color: $gold;
    &-gradient{
      background: $gold-gradient;
      background-color: $gold;
    }
  }
  &-gray{
    background-color: $gray;
  }
  &-light-gray{
    background-color: $light-gray;
  }
  &-white{
    background-color: $white;
  }
}
