@mixin placeholder($color) {
  &::placeholder{
    color: $color
  }
  caret-color: $color;
}

input:not([type='checkbox']), textarea, select, [contenteditable]{
  @extend .form-control;
  &:not([type='submit']){
    @extend .shadow-box-light;
    @extend .border;
    &:focus{
      @extend .shadow-box-dark;
      @extend .border-light-blue;
    }
    @include placeholder($placeholder-gray);
  }
  &[type='submit']{
    @extend .button-primary;
  }
}

select {
   outline:0px;
   border-radius: $border-radius !important;
   -webkit-appearance: none !important;
   // Fixes up some specificities of selects that look dumb
}

.file-input{
  @extend .custom-file;
  font-size: 3rem;
  input{
    // @extend .custom-file-input;
    background-color: $gray;
    font-size: 3rem;
  }
  label{
    @extend .custom-file-label;
    border: 1px solid #EFEFEF !important;
    text-align: center;
    font-size: 3rem;
    color: $light-gray;
    &::after{
      content: '';
      background-color: transparent;
      border: none;
      display: none;
    }
  }
}
