@mixin placeholder($color) {
  &::placeholder{
    color: $color
  }
  caret-color: $color;
}

input:not([type='checkbox']), textarea, select, [contenteditable]{
  @extend .form-control;
  &:not([type='submit']){
    @extend .shadow-box-light;
    @extend .border;
    &:focus{
      @extend .shadow-box-dark;
      @extend .border-light-blue;
    }
    @include placeholder($placeholder-gray);
  }
  &[type='submit']{
    @extend .button-primary;
  }
}

select {
   outline:0px;
   border-radius: $border-radius !important;
   -webkit-appearance: none !important;
   // Fixes up some specificities of selects that look dumb
}
