.scroll-disable{
  // Used on body when navbar is opened to prevent scroll
  height: calc(100vh - #{$header-height});
  min-height: 0 !important;
  overflow: hidden;
}

.drag-disable{
  user-drag: none;
  user-select: none;
  pointer-events: none;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

html{
  @extend .scroll-smooth; // For animation when clicking on a link to a div
}
