$shadow-dark: 1px 1px 15px rgba(62, 62, 62, 0.34);
$shadow-light: 1px 1px 15px rgba(211, 211, 211, 0.27);

.shadow {
	&-box, .sb {
		&-dark {
			box-shadow: $shadow-dark;
		}
		&-light {
			box-shadow: $shadow-light;
		}
	}
	&-text, .st {
		&-dark {
			text-shadow: shadow-dark;
		}
		&-light {
			text-shadow: shadow-light;
		}
	}
}

