<div class="container-fluid">
  <div class="row">
    <div class="col text-center pt-3 pb-3 bg-beige w-100">
      <h1>Admin Dashboard</h1>
    </div>
  </div>
</div>

<div class="container artist-list">
  <div class="row pt-3">
    <div class="col">
      <h2>All Artists</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="link-list">
        <% @artists.each do |artist| %>
          <%= link_to edit_artist_path(artist) do %>
            <li>
              <div class="text">
                <%= artist.name %>
              </div>
              <div class="image">
                <% if artist.photo.present? %>
                  <%= cl_image_tag artist.photo %>
                <% end %>
              </div>
            </li>  
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
