<div class="p-3">
  <%= link_to "< Back", edit_collection_path(collection), remote: true, class: 'button-tertiary' %>
</div>
<h2>Edit Artwork</h2>
<%= simple_form_for artwork, remote: true do |f| %>
  <%= render 'artworks/fields', f: f %>
<% end %>
