| function refreshDashboard(innerHTML) { const form = document.getElementById('edit-form'); form.innerHTML = innerHTML; } refreshDashboard('
= j render "edit", collection: @collection, artwork: @artwork
| '); window.init(); 
