<div class="container-fluid">
  <div class="row" id="edit-dashboard">
    <div class="col">
      <div class="panel">
        <%= render 'new', collection: @collection, artwork: @artwork %>
      </div>
    </div>
  </div>
</div>
