.about-section-wrapper
  .about-section.container
    h3.title.t-about.text-center
      | Who we are
    .row
      .person-lockup.col-12.col-sm-6
        .d-flex.align-items-end.justify-content-center
          .icons-lockup
            ul
              li.background.bg-blue
                a.social-link[href="https://linkedin.com/in/mattia-cremieux" target="_blank"]
                  i.fab.fa-linkedin
          .text-center.image-container
            = image_tag "mattia.png"
        br
        .name-lockup.col
          h4.color.c-blue
            | Mattia Cremieux
          h5.title
            | CEO & Co-Founder
      .person-lockup.col-12.col-sm-6
        .d-flex.align-items-end.justify-content-center
          .icons-lockup
            ul
              li.background.bg-pink
                a.social-link[href="https://instagram.com/ksenia_crm?igshid=1j8vk08bfpfnx" target="_blank"]
                  i.fab.fa-instagram
              li.background.bg-blue
                a.social-link[href="https://www.linkedin.com/in/ksenia-stepanova-b473a554/" target="_blank"]
                  i.fab.fa-linkedin
          .text-center.image-container
            = image_tag "ksenia.png"
        br
        .name-lockup.col
          h4.color.c-blue
            | Ksenia Stepanova
          h5.title
            | Creative Director & Co-Founder
      .text.col
        h3.title
          | Our Philosophy
        br
        p.color.c-dark-blue
          b
            | Competition is outdated
          | , to respond to the biggest challenges our society is facing today, we believe that collaboration and altruism need to be the foundation of everything we do. By building this platform and community, we want to give the option of a different approach to the actors of the Art industry, for them to work and grow together in a fair and innovative way. We are building Artyque with all the necessary business acumen but also with all the possible creativity and sensitivity in order to be able to ally collective effort, common good and strategic growth for each one of our members. 
  .square-1
  .square-2
