<div class="circle-banner-container">
  <%= link_to '', artists_path, class: "fill-link" %>
  <div class="circle banner-circle bg-blue c-white rotating">
    <p class="title">
        <strong>·</strong>&nbsp;&nbsp; AVAILABLE &nbsp;&nbsp;<strong>·</strong>&nbsp;&nbsp; ARTWORKS &nbsp;&nbsp;
    </p>
  </div>
</div>
