<div class="wrapper-banner">
	<div class="banner-content banner-carousel bg-blue-gradient">
		<%= image_tag "top_wave.svg", class: "wave-top position-absolute" %>
	    <%= image_tag "bottom_wave.svg", class: "wave-bottom position-absolute" %>
	      <%= yield %>
	</div>
</div> 

