<div class="wrapper-banner">	
	<div class="container background bg-blue-gradient">
	 	<div class="row">
	 		<div class="vh-70 w-100">
	 			<div class="col">
					<h1 class="title">Detailed Message</h1>
					<h1>Headers and Large Message</h1>
				</div>
	 		</div>
		</div>
	</div>
</div>