<div class="text-lockup col-12 col-sm-6">
  <h1 class="title"><%= title %></h1>
  <h1 class="color c-white">Headers and Large Message</h1>
  <%= link_to button[:label], button[:path], class: "button-primary" %>
</div>
<div class="shadow sb-light background bg-dark-blue image-lockup col-12 col-sm-6">
  <div class="image-container background bg-blue" style="background-image: url(<%= image_path image %>);"></div>
  <h1 class="banner-card-subtitle w-100 text-center position-absolute color c-white title"><%= subtitle %></h1>
</div>
