.wrapper-banner
  .banner-content.bg-blue-gradient
    .row
      .inner-banner.w-100.position-relative.d-sm-flex.align-items-center
        = image_tag "top_wave.svg", class: "wave-top position-absolute"
        = image_tag "bottom_wave.svg", class: "wave-bottom position-absolute"
        .text-lockup.col-12.col-sm-6
          h1.title
            = title
          h1.color.c-white
            | Welcome to Artyque 
          p.shadow
            | As an Agency we will assist artists to accelerate their career, as a digital platform, we will provide a tool for galleries to connect and facilitate their workflow and as an advisor, we will turn the new collectors into wise tastemakers.
          = link_to button[:label], button[:path], class: "button-primary"
        .shadow.sb-light.background.bg-dark-blue.image-lockup.col-12.col-sm-6
          |  <div class="image-container background bg-blue" style="background-image: url(
          = image_path image
          | );">
        h1.banner-card-subtitle.w-100.text-center.position-absolute.color.c-white.title
          = subtitle
