<div class="wrapper-banner">	
	<div class="banner-content bg-blue-gradient">
	 	<div class="row">
	 		<div class="inner-banner w-100 position-relative d-sm-flex align-items-center">
	 			<%= image_tag "top_wave.svg", class: "wave-top position-absolute" %>
	 			<%= image_tag "bottom_wave.svg", class: "wave-bottom position-absolute" %>
        <%= yield %>
	 		</div>
		</div>
	</div>
</div> 

