<div class="wrapper-banner">
	<div class="banner-content main-banner banner-carousel bg-blue-gradient">
		<%= image_tag "top_wave.svg", class: "wave-top position-absolute drag-disable" %>
	    <%= image_tag "bottom_wave.svg", class: "wave-bottom position-absolute drag-disable" %>
	      <%= yield %>
	</div>
</div> 

