<div class="laptop-carousel-wrapper flex-center w-100" style="height: <%= height %>;">
	<div class="laptop-carousel">
    <%= image_tag "laptop.svg", class: "carousel-overlay drag-disable", style: "height: #{height};" if laptop %>
      <%= yield %>
	</div>
</div> 

