<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="backround bg-white shadow sb-light card card-artists"  data-toggle="modal" data-target="#modal_artist">
				<div class="d-flex">
					<div class="text-cards">
						<h1 class="title">An Agency</h1>
			      		<h2 class="color c-blue">For Artists</h2>
			      		<p class="mw-50">Artyque for Artists is a new kind of service</p>
			      		<p class="fake-link color c-blue">Read More</p>
		      		</div>
		      		<%= image_tag "pic-1.png" %>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="backround bg-blue shadow sb-light card card-galleries" data-toggle="modal" data-target="#modal_galleries">
				<%= image_tag "pic-2.png", style: "width: 100%" %>
				<div class="text-cards">
					<h1 class="color c-white title">A Solution</h1>
		      		<h2 class="color c-white">For Galleries</h2>
		      		<p>Change the way you look for Artists and organize your shows. </p>	
		      		<p class="fake-link color c-white">Read More</p>
	      		</div>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="backround bg-white shadow sb-light card card-collectors" data-toggle="modal" data-target="#modal_collectors">
				<div class="text-cards">
					<h1 class="title">An Advisor</h1>
		      		<h2 class="color c-blue">For Collectors</h2>
		      		<p>Have access to over 100 artists’ portfolios.</p>
		      		<p class="fake-link color c-blue">Read More</p>
	      		</div>
			</div>
		</div>	
	</div>
</div>

<%= render "shared/modals" %>
