<div class="line-wrapper">
	<div class="container">
		<div class="row">
			<div class="col d-flex line-left">
				<h1 class="title">Artyque is</h1>
				<hr class="lines w-75">
			</div>
		</div>
	</div>
<div class="ellipse"></div>
</div>



