<!-- Modal Artist -->
<div class="modal fade" id="modal_artist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-custom" role="document">
    <div class="modal-content">
      <div class="modal-header-custom  d-flex align-items-center justify-content-end">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-body">
          <div class="body-title">
            <h1 class="title text-center">Artique For Galleries</h1>
            <br>
            <h2 class="color c-blue modal-lead-text">Artyque for Galleries is a new kind of service that simplifies the way you look for Artists and organize your shows. </h2>
          </div>
          <div class="container-fluid separate-content-bottom">
            <div class="row">
              <div class="col-12 col-sm-6">Following your preferences and specifications, we propose a selection of the top emerging artists from within our agency to you on a regular basis. Once you have chosen the artist for your next exhibition, we support you in the organisation of the show with our in-house curators, PR specialists and partners.</div>
              <div class="col-12 col-sm-6">We carefully scope regional markets (Europe, West Africa, and Russia at the moment) and select the most promising artists in order to bring you quality and singularity to your art space while you focus solely on developing your relationship with clients and grow your reputation. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-bullets">
         <div class="w-100 wrapper-body-bullets background bg-blue">
          <ul>
            <li> Simplify your artists’ hunt</li> 
            <li> Collaborate with young and talented curators</li> 
            <li> Increase your press visibility</li> 
            <li> Reach new clients and establish a stronger relationship with existing ones</li> 
            <li> Get discounts from our partners (logistic, Insurance, digital services, and more)</li> 
          </ul>
        </div>
      </div>
       <div class="text-body text-center separate-content">
          <div class="body-title">
            <h1 class="title text-center">Artique For Galleries</h1>
            <br>
            <h2 class="color c-blue modal-lead-text"> Get in touch now and gain early access at the <br>opening of the Artyque platform</h2>
          </div>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> 
    </div>
  </div>
</div>