<div class="navbar">
  <div class="open-button">
    <a href="#" title="Open navigation bar" id="navbar-open-button">
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div class="close-button hidden" id="navbar-close">
    <a href="#" title="Open navigation bar" id="navbar-close-button">
      <i class="fas fa-times"></i>
    </a>
  </div>
  <div class="menu hidden" id="navbar-menu">
    <ul class="links">
      <li><a href="#mission" class="navbar-link">Our Mission</a></li>
      <li><a href="#about" class="navbar-link">About Us</a></li>
      <li><a href="#contact" class="navbar-link">Contact</a></li>
    </ul>
    <ul class="social">
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </div>
</div>
