nav.navbar
  .open-button
    a#navbar-open-button[href="#" title="Open navigation bar"]
      i.fas.fa-bars
  #navbar-close.close-button.hidden
    a#navbar-close-button[href="#" title="Open navigation bar"]
      i.fas.fa-times
  #navbar-menu.menu.hidden
    ul.links
      li
        a.navbar-link[href="#mission"]
          | Our Mission
      li
        a.navbar-link[href="#about"]
          | About Us
      li
        a.navbar-link[href="#contact"]
          | Contact
    ul.social
      li
        a[href="#"]
          i.fab.fa-instagram
      li
        a[href="#"]
          i.fab.fa-linkedin-in
