<div class="navbar">
  <div class="open-button">
    <a href="#" title="Open navigation bar" id="navbar-open-button">
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div id="navbar-menu" class="menu">
    <div class="close-button">
      <a href="#" title="Open navigation bar" id="navbar-open-button">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
</div>
