<div class="secondary-banner">
	<div class="banner-text">
	  <h1 class="title color c-white">Our Philosophy</h1>
	  <br>
	  <p class="color c-white">We are a young Berlin based agency dedicated to the success of the new generation of emerging and mid-career Artists. Our mission is to support the most exceptional creative minds out there to develop their career and share their vision and Art with the world. </p>
	</div>
</div>
<%= render 'shared/line_intro' %>
<%= render 'shared/cards' %>


<div id="about"></div>
<%= render 'shared/about_section' %>
<!-- <div class="laptop-carousel-wrapper">
	<div class="container">
		<div class="col intro-laptop">
			<h4 class="title text-center">join the artyque family</h1>
		</div>
	</div>
  <%#= render 'shared/carousel', laptop: true, initial: 1, height: 350, images: %w[
  screen_a.png
  screen_b.png
  screen_c.png
] %>
	<br>
	<div class="container">
		<div class="col text-center cta-laptop">
      <%= link_to 'Get in Touch', contact_path, class: 'button-primary' %>
		</div>
	</div>
</div> -->
