<%= render 'shared/banner', title: "Detailed Message", button: { label: "Button 1", path: "#" }, image: "h_img_artist.png", subtitle: "for-artists" %>
<%= render 'shared/line_intro' %>

<div class="form-set">
  <%= render 'contact_forms/new' %>
</div>

