<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title">Detailed Message</h1>
      <h1>Headers and Large Message</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p><a href="#">Lorem ipsum >></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <input placeholder="Input" />
    </div>
    <div class="col-6">
      <a href="#" class="button-primary">Button 1</a>
      <a href="#" class="button-secondary">Button 2</a>
    </div>
  </div>
  <div class="panel">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1 class="title">Artyque is for Galleries</h1>
          <h1>Find Art that Makes a Difference</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>Interested? Send us your email and we will get in touch</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <input placeholder="Input" />
        </div>
        <div class="col-6">
          <a href="#" class="button-primary">Button 1</a>
        </div>
      </div>
    </div>
  </div>
</div>
