<div class="container-fluid">
  <div class="row" id="edit-dashboard">
    <div class="col">
      <div class="panel">
        <%= render 'edit', artist: @artist, link: @link %>
      </div>
    </div>
  </div>
</div>
