.about-section {
	max-width: 700px;
	padding: 70px 25px;
	margin: auto;
	.t-about {
		margin-bottom: 70px;
    	font-size: 16px;
	}
	.person-lockup {
		margin-bottom: 45px;
		.name-lockup {
			h1 {
				font-size: 10px;
			}
		}
	}
	.icons-lockup {
		ul {
			list-style: none;
		    margin-bottom: 0;
		    padding: 0;
		}
		li {
			color: white;
			padding: 10px 15px;
    		font-size: 20px;
		}
	}
	.text {
		margin-top: 30px;
		h2 {
			font-size: 28px;
		}
		p {
			font-size: 13px;
		}
	}
}