.wrapper-banner {
	@extend .bg-beige;
	.banner-content{
		@include make-container;
    @extend .p-0;
		@include media-breakpoint-up(sm) {
      width: calc(100vw - 2 * #{$header-height});
      margin: 0 auto;
    }
	}
	.inner-banner {
		height: 100vh;
		@include media-breakpoint-up(sm) {
		    height: 80vh;
		}
	}
	.banner-card-subtitle {	
	    bottom: 0;
	   	font-size: 11px;
	    @include media-breakpoint-up(sm) {
	    	 font-size: 14px;
	    	 bottom: 2%;
		}
	}
	.text-lockup {
		padding: 100px 10%;
    	padding-bottom: 43px;
    	@include media-breakpoint-up(sm) {
    		padding: 0;
	    	padding-left: 40px;
		}
	}
	.image-lockup {
		height: 250px;
    	margin: auto;
    	width: 90%;
		@include media-breakpoint-up(sm) {
		    height: 90%;
		    margin-left: 13px !important;
		}
		.image-container {
		    position: absolute;
			left: 0;
			width: 100%;
			height: 89%;
			background-size: cover;
			background-position: center;
		}
	}
	.wave {
		&-top {
			top: 0;
			right: 0;
			width: 70vw;
		}
		&-bottom {
			bottom: 0;
			width: 60vw;
			z-index: 1000;
		}
	}
  
  // Banner Carousel
  .flickity-slider{
    .banner-carousel-cell{
      transition: all 100ms ease-out;
    }
    .is-selected{
      @include media-breakpoint-up(sm) {
        transform: translateX(#{$header-height}); // Attempt solution of responsiveness/positioning bug TODO can be improved
      }
    }
    .wave-top{
      @include media-breakpoint-down(sm) {
        right: 15px; // Fix mobile postioning bug
      }
    }
  }
  .flickity-page-dots{
    bottom: 10px;
    right: 10px;
    text-align: right;
    .dot{
      border-radius: $border-radius;
      opacity: 1;
      @extend .bg-blue;
      @extend .border-blue-thick;
      &.is-selected{
        @extend .bg-white;
      }
    }
  }
  .flickity-page-dots{
    bottom: 10px;
    right: 10px;
    text-align: right;
    .dot{
      border-radius: $border-radius;
      opacity: 1;
      @extend .bg-blue;
      @extend .border-blue-thick;
      &.is-selected{
        @extend .bg-white;
      }
    }
  }
}

