.card, .card {
  border-radius: 28px 30px 130px;
    overflow: hidden;
  transition: ease all 1s;
  margin-bottom: 20px;
  border: 0;
  &-artists {
    z-index: 2;
    min-height: 160px;
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 201px;
    }
     @include media-breakpoint-up(sm) {
        min-width: 620px;
      float: right;
    }
  }
  &-galleries {
      height: 384px;
    z-index: 0;
       @include media-breakpoint-up(sm) {
        margin-top: -60px;
        min-width: 330px;
    }
  }
  &-collectors {
     @include media-breakpoint-up(sm) {
      margin-top: 108px;
    }
  }
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 0.5rem 42px rgba(0, 0, 0, 0.15) !important;
  }
  .fake-link {
    text-decoration: underline;
    font-style: italic;
    @extend .cursor-pointer;
    &:hover {
      opacity: .8;
    }
  }
}


.text-cards {
  z-index: 100;
  padding: 20px;
  .card-title {
    font-size: 28px;
  }
  p {
    font-size: 13px;
    margin-bottom: 8px;
  }
}

.card.news-post{
  // News Posts Index
  border-radius: 0 !important;
  position: relative;
  display: flex;
  flex-direction: row;
  .card-link{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  @extend .p-3;
  @extend .border;
  @extend .shadow-box-light;
  .card-text{
    flex-grow: 4;
  }
  .card-photo{
    height: 100%;
    min-height: 7rem;
    @extend .ml-2;
    flex-grow: 0.5;
    max-width: 10ch;
    width: 100%;
    float: right;
    background-size: cover;
    background-position: center;
  }
  &:hover{
   @extend .border-light-blue;
  }
}

// -------------

.artists-cards{
  @media (max-width: 767px) {
    &.justify-center-mobile {
      justify-content: center !important;
    }
  }
  .artist-card{
    &:hover, &:focus, &:active {
      .to-underline:after {
        right: 0;
      }
    }
    margin-bottom: 37px;
    max-width: 273px;
    text-align: right;
    height: 197px;
    @media (max-width: 520px) {
      margin-top: 80px;
    }
    p {
      margin: 0;
    }
    .f-9 {
      font-size: 9px;
      letter-spacing: 3px;
    }
    &.artist-background {
      background-position: center;
      background-size: cover;
    }
    .artist-image-png{
      height: 100%;
      width: 100%;
      position: absolute;
      height: 120%;
      max-height: 234px;
      width: 100%;
      max-width: 149px;
      bottom: 0px;
      left: -12%;
      img {
        object-fit: contain;
        height: 100%;
      }
      @media( max-width: 1000px) {
        width: 95%;
        height: 109%;
        left: -25%;
      }
      @media( max-width: 934px) {
        height: 213px;
        width: 145px;
      }
      @media (max-width: 770px) {
        height: 119%;
        width: 100%;
        left: 10%;
      }

    }
    .artist-full-name{
      font-weight: 600;
      font-size: 12px;
    }
  }
}

.HIW-card{
  min-height: 500px;
  text-align: center;
  max-width: 272px;
  margin: 0 auto 77px auto;
  box-shadow: 0 0 105px #9db5bb;
  .image-intro-hiw {
    width: 100%;
    &-a {
      margin-top: -32px;
    }
    &-b {
      margin-top: -30px;
    }
    &-c {
      margin-top: -37px;
    }
  }
  .image{
    height: 235px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
  }
  .text {
    padding: 0 27px 27px;
    height: 182px;
    margin: 0;
    font-size: 14px;
    text-align: left;
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
    }
  }
}


// --------------------------------------

.service-card{
  max-width: 280px;
  margin: 11px;
  p {
    font-size: 14px;
  }
  .image{
    height: 228px;
    background-position: center;
    background-size: cover;
    .text-title {
      position: absolute;
      top: 24px;
      left: -11px;
      font-size: 20px;
      p {
        margin: 0;
      }
    }
  }
  .button {
    width: 80%;
  }
  &:hover, &:focus, &:active {
    .to-underline:after {
      right: 0;
    }
  }
}
.to-underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.to-underline:after {
  content: "";
  position: absolute;
  z-index: 10;
  left: 0;
  right: 100%;
  bottom: -5px;
  background: #000;
  height: 2px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}



