.footer{
  @extend .background-blue;
  @extend .c-white;
  width: 100vw;
  @extend .p-0;
  @extend .m-0;
  @extend .flex-center;
  height: $footer-height;
  ul.links{
    list-style: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    position: absolute;
    right: 0;
    text-align: right;
    @extend .pr-4;
    @extend .mb-0;
    li{
      a{
        @extend .c-light-gray;
        transition: color 250ms ease-out;
        &:hover{
          @extend .c-pink;
        }
      }
    }
  }
}

// https://css-tricks.com/snippets/css/sticky-footer/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: calc(-1 * #{$footer-height});
  padding-bottom: $footer-height;
  @include media-breakpoint-down(sm) {
    max-width: 100vw;
    overflow: hidden;
  }
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  // height: $footer-height;
}

.legal-foot-note {
  h2 {
    margin-bottom: 15px;
  }
  li{
    a{
      @extend .c-white;
      transition: color 250ms ease-out;
      &:hover{
        @extend .c-pink;
      }
    }
  }
}

.footer-top {
  padding: 55px 31px;
  background: $dark-blue;
  .title {
    margin-bottom: 33px;
  }
  ul {
    color: white;
  }
  li {
    list-style: none;
    opacity: .5;
  }
}
