.footer{
  @extend .background-blue;
  @extend .c-white;
  @extend .m-0;
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  li {
    opacity: 0.7;
  }
  ul.links{
    margin-bottom: 19px !important;
    list-style: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    @extend .pr-4;
    @extend .mb-0;
    li{
      a{
        transition: color 250ms ease-out;
        &:hover{
          @extend .c-pink;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    display: block;
    padding: 40px 1px;
  }
}

.inner-top-footer {
  display: flex;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.inner-footer {
  margin: 0;
  justify-content: flex-end;
  background: #264e58;
  padding: 23px;
  display: flex;
  list-style: none;
  a {
    margin-right: 23px;
  }
}

// https://css-tricks.com/snippets/css/sticky-footer/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: calc(-1 * #{$footer-height});
  padding-bottom: $footer-height;
  @include media-breakpoint-down(sm) {
    max-width: 100vw;
    overflow: hidden;
  }
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  // height: $footer-height;
}

.legal-foot-note {
  h2 {
    margin-bottom: 15px;
  }
  li{
    a{
      @extend .c-white;
      transition: color 250ms ease-out;
      &:hover{
        @extend .c-pink;
      }
    }
  }
}

.footer-top {
  @extend .pt-4;
  @extend .pb-4;
  padding-left: $header-height;
  background: $dark-blue;
  font-size: 0.85em;
  .title {
    margin-bottom: 33px;
  }
  ul {
    color: white;
  }
  li {
    list-style: none;
    opacity: .5;
  }
}
