.form-set {
	max-width: 500px;
    margin: auto;
    background: white;
    padding: 26px;
	border-radius: 4px;
}

ul.admin {
	.edit_artist, .edit_artwork {
		display: flex;
		align-items: center;
	}
}

#modal_select_artwork {
	.artworks-modal {
		padding: 0 40px;
		h2 {
			padding: 30px;
		}
	}
}

label.featured_check {
	 margin-right: 20px;
	input {
		display: none;
	}
	p {
		margin: 0;
		font-size: 12px;
		}
	i {
	    padding: 10px;
		font-size: 28px;
	}
	i.fas {
			color: $dark-blue;
			&:hover {
				opacity: .5;
			}
		}
	i.far {
			opacity: .5;
			&:hover {
				opacity: 1;
			}
		}
}

.form-desc {
  text-align: right;
  max-width: 273px;
  margin: 0 0 0 auto;
  font-size: 20px;
}

.newsletter-form {
  margin: 0 auto;
  width: 62%;
  display: flex;
  justify-content: center;
  .submit-button {
    width: 169px;
    border-radius: 0 3px 3px !important;
  }
  #email {
    width: 461px;
  }
  @media (max-width: 767px) {
    display: block;
    #email {
      width: 100%;
    }
    .submit-button {
      width: 100%;
      margin-top: 24px;
    }
  }
}
