.header{
  @extend .background-beige;
  top: 0;
  left: 0;
  width: 100vw;
  @extend .p-0;
  @extend .m-0;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  position: fixed;
  z-index: 20000;
  .image{
    height: $header-height;
    @extend .flex-left;
    width: calc(100vw - #{$header-height});
    .logo{
      @extend .ml-3;
      @include media-breakpoint-up(sm) {
        padding-left: 0;
        margin-left: $header-height !important;
      }
      transition: opacity 250ms ease;
      opacity: 1.0;
      &.transparent{
        opacity: 0;
      }
    }
  }
}

body{
  padding-top: $header-height; // Offset body start to bottom of header
}

.page-wrap{
  position: relative;
}
