.header{
  @extend .background-dark-blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  @extend .p-0;
  @extend .m-0;
  height: $header-height;
}

body{
  margin-top: $header-height; // Offset body start to bottom of header
  @extend .pt-5; // Additional padding
}
