.line-wrapper {
	padding: 100px 0 40px 0;
	position: relative;
	.title {
		font-size: 12px;
		line-height: 34px;
	}
}

.lines, .line {
  @include media-breakpoint-down(sm) {
    width: 30% !important;
  }
	border: solid 1px #fef0e6;
	&-right {
		padding-left: 0;
		justify-content: space-between;
	}
	&-left {
		padding-right: 0;
		justify-content: space-between;
	}
}

.ellipse {
	position: absolute;
    width: 560px;
    bottom: -310px;
    right: 0;
	opacity: 0.5;
    border-radius: 81%;
    height: 530px;
    z-index: -2;
    background: linear-gradient(380deg, #FEF0E7 -20.82%, rgba(254, 246, 240, 0.18) 62.49%);
    @include media-breakpoint-up(sm) {
	    width: 780px;
		bottom: -271px;
		height: 730px;
      }
}

