.links-gallery{
  .links-gallery-photo{
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }
  p{
    font-size: 0.85em;
    &.small{
      font-size: 0.75em;
    }
  }
  a{
    @extend .c-dark-blue;
    transition: color 250ms ease-out;
    &:hover{
      @extend .c-blue;
      text-decoration: none !important;
    }
  }
}
