.navbar{
  .open-button{
    position: absolute;
    top: 0;
    right: 0;
    height: $header-height;
    @extend .background-blue;
    @extend .flex-center;
    width: $header-height; // Make square
    color: $white;
    font-size: calc(#{$header-height}/3.5); // Make icon size also relative to height
    a{
      color: $white;
      &:hover{
        color: $white;
        text-decoration: none;
      }
    }
  }
}
