@mixin navbar-menu-width{
  width: 30vw;
  min-width: 300px;
}

.navbar{
  .open-button{
    @extend .flex-center;
    width: $header-height; // Make square
  }
  .open-button, .close-button{
    @extend .color-white;
    @extend .background-blue;
    top: 0;
    right: 0;
    position: absolute;
    height: $header-height;
    font-size: calc(#{$header-height}/3.5); // Make icon size also relative to height
    a{
      color: $white;
      &:hover{
        color: $white;
        text-decoration: none;
      }
    }
  }
  .close-button{
    @include navbar-menu-width;
    @extend .flex-left;
    @extend .pl-3;
    @extend .border-bottom-dark-blue;
  }
}

