<div id="new-contact-form">
  <h2 class="color c-blue text-center">Thank You for Your Message!</h2>
  <p>It's a pleasure hearing from you, and we will be in touch promptly about your inquiry.</p>
</div>
