| function refreshForm(innerHTML) { const contactForms = document.querySelectorAll('.newsletter-form'); contactForms.forEach((form) => { form.innerHTML = innerHTML; }); } 
|  refreshForm('
= j render "contact_forms/newsletter_success"
| '); 
